.textInPhoto {
    position: absolute;
    bottom: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 0, 0);
    font-size: 20px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    margin: 15px;
    align-items: center;
    }
.container img{
    width: 450px;
    height: 300px;
}

.text,header{
    text-align: center;
    font-size: 25px
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


h1{
    font-size: 30px;
}
.blockOfText{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


.footer {
    background-color: rgb(70, 68, 68);
    
    }